@import "../styles/Variables.scss";
@import "../styles/Mixins.scss";

.background-layout {
    background: linear-gradient(106.64deg, rgba(204, 43, 94, 0.8) -9.35%, rgba(196, 196, 196, 0) 106.57%);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    .discover-section {
        position: absolute;
        bottom: 0;
        background: $white;
        margin: 2rem 0;
        max-width: 452px;
        padding: 2rem;
        border-radius: 4px;
        box-shadow: 0px 4px 20px rgba(141, 135, 135, 0.2);
        h1 {
            display: inline-block;
            color: $primaryTextColor;
            font-size: 18px;
            line-height: 20px;
            font-weight: $font-bold;
            margin-bottom: 0;
        }
        p {
            color: $secondaryTextColor;
            font-size: 12px;
            line-height: 16px;
            font-weight: $font-normal;
            margin: .5rem 0;
        }
        a {
            color: $primaryTextColor;
            font-size: 12px;
            line-height: 13px;
            font-weight: $font-bold;
        }
        @include  medium-screens { @include hidden; }
    }
    &-section {
        padding: 0;
    }
    .booking-menu {
        max-width: 400px;
        right: 0;
        float: right;
        margin-top: 6rem;
        background: $white;
        border-radius: 4px;
        padding: 1.5rem;
        box-shadow: 0px 4px 20px rgba(141, 135, 135, 0.2);
        label {
            width: 100%;
            margin: 0;
            p {
                color: $primaryTextColor;
                font-size: 11px;
                line-height: 12px;
                font-weight: $font-bold;
                margin-bottom: .3rem;
            }
            
        }
        h1 {
            color: $primaryTextColor;
            font-size: 24px;
            line-height: 27px;
            font-weight: $font-bold;
            margin-bottom: 1.5rem;
        }
    }
    .booking-date {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1rem;
    }
}

.home-jumbotron {
    position: relative;
    background-image: url(../img/jumbo.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
}

.add-property-section {
    position: relative;
    background-image: url(../img/add-property.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    min-height: 250px;
    &-overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.35);
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        .add-property-details {
            max-width: 620px;
            text-align: center;
            p {
                color: $white;
                font-size: 24px;
                line-height: 29px;
                font-weight: $font-bold;
            }
        }
    }
}

.container-section  {
    margin: 4rem auto;
}

.trending-location  {
    &-display {
        @include spaceCenter;
        a {
            color: $primaryColor;
            font-size: $font-size-base;
            line-height: $font-events-base;
            font-weight: $font-normal;
            text-decoration: underline;
            cursor: pointer;
            transition: .3s ease-in-out;
            &:hover {
                color: darken($primaryColor, $amount: 10%);
                text-decoration: underline;
            }
        }
    }
    &-title { 
        display: inline-block;
        margin-bottom: 1.3rem; 
    }
    h2 {
        color: $primaryTextColor;
        font-size: 20px;
        line-height: 22px;
        font-weight: $font-bold;
        text-align: left;
        margin-bottom: .2rem;
    }
    p {
        color: $secondaryTextColor;
        font-size: $font-size-base;
        line-height: $font-events-base;
        font-weight: $font-normal;
        margin-bottom: 0;
    }
    .slicker { @include slickSliderShadow($left: -38px, $right: 28px, $top: 80px); }
    &-flex {
        display: flex;
        margin-bottom: 4rem;
        .img-small-display {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1rem;
            .site {
                position: relative;
                margin-bottom: 0;
                overflow: hidden;
                border-radius: 4px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    filter: brightness(0.7);
                    transition: transform 400ms ease-out;
                    border-radius: 4px;
                    &:hover {
                        transform: scale(1.15);
                    }
                }
            }
            &-loc {
                position: absolute;
                bottom: 0;
                margin: 1rem;
                p { color: $white; }
            }
        }
    }
    .top-countries-section {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-row-gap: 1.1rem;
        grid-column-gap: 5rem;
    }
}

.world-big {
    position: relative;
    height: 420px;
    padding: 0;
    border-radius: 4px;
    overflow: hidden; 
    img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        object-fit: cover;
        filter: brightness(0.7);
        transition: transform 400ms ease-out;
        &:hover {
            transform: scale(1.15);
        }
    }
    &-overlay {
        div {
            position: absolute;
            bottom: 0;
            margin: 1rem;
            p {
                color: $white;
                font-weight: $font-bold;
                font-size: $font-size-base;
                line-height: $font-events-base;
            }
        }
    }
}

.react-datepicker__input-container {
    input {
        color: $secondaryTextColor;
        font-size: $font-size-base;
        font-weight: $font-bold;
        line-height: $font-events-base;
        width: 100%;
        height: 45px;
        padding-left: 1.7rem;
        margin-bottom: 1rem;
        @include border-radius;
        &:focus {
            outline: none;
        }
    }
}

.map-details {
    display: flex;
    flex-flow: row wrap;
    background: #f3f5f7;
    padding: 4rem 0 3rem;
    img {
        width: 100%;
    }
    &-content {
        position: relative;
        max-height: 400px;
        padding-right: 40px;
        margin: 0 auto;
        max-width: 720px;
        .image-section  {
            cursor: pointer;
            &:nth-child(1) {
                top: 51px;
                left: 140px;
                height: 130px;
                width: 126px;
                position: absolute;
            }
            &:nth-child(2) {
                top: 177px;
                left: 299px;
                height: 130px;
                width: 126px;
                position: absolute;
            }
            &:nth-child(3) {
                top: 9px;
                left: 326px;
                height: 130px;
                width: 126px;
                position: absolute;
            }
            &:nth-child(4) {
                top: -35px;
                left: 500px;
                height: 130px;
                width: 126px;
                position: absolute;
            }
            &:nth-child(5) {
                top: 128px;
                left: 477px;
                height: 66px;
                width: 106px;
                position: absolute;
            }
            &:nth-child(6) {
                top: 236px;
                left: 435px;
                height: 130px;
                width: 126px;
                position: absolute;
            }
            .location-name {
                display: none;
                position: relative;
                background: #fff;
                max-width: 100px;
                margin: 0 auto;
                padding: .4rem;
                text-align: center;
                border-radius: 4px;
                box-shadow: 0px 4px 20px rgba(141, 135, 135, 0.1);
                border: 0.5px solid #E8E8E8;
                p {
                    color: $primaryTextColor;
                    font-size: 14px;
                    line-height: 16px;
                    font-weight: $font-bold;
                    margin-bottom: 0;
                }
                &::before {
                    position: absolute;
                    content: ' ';
                    right: 13px;
                    top: -10px;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid #fff;
                }
                &::after {
                    position: absolute;
                    content: ' ';
                    right: 13px;
                    top: -9px;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid #fff;
                }
            }
            &:hover .location-name {
                display: block;
                transition: .3s ease-in-out;
            }
            &.active {
                transform: scale(1);
            }
        }
    }
    &-detail {
        h2 {
            color: $primaryTextColor;
            font-size: 26px;
            line-height: 144.95%;
            font-weight: $font-bold;
            text-align: left;
        }
        p {
            color: $secondaryTextColor;
            font-size: 16px;
            line-height: 144.95%;
            font-weight: $font-normal;
        }
    }
    @include medium-screens {
        @include hidden;
    }
}

.image-section {
    img {
        width: 100%;
    }
}