
$backgroundColor: #Fff;

$primaryColor: #CC2B5E;
$primaryTextColor: #1a2b49;
$secondaryColor: #753A88;
$secondaryTextColor: #828282;
$borderColor: #F1F1F1;
$white: #fff;

//font-weights
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;

//font size
$font-size-base: 14px;
$font-events-base: 16px;
